<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->

    <!-- Define the dependency  -->
    <bean
        id="myFortune"
        class="DependencyInjection.HappyFortuneService">
    </bean>

    <bean
        id="myCoach"
        class="DependencyInjection.TrackCoach"
    >
        <!-- set up constructor injection -->
        <constructor-arg ref="myFortune"/>
    </bean>
</beans>