<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->

    <!-- Define the dependency  -->
    <bean
        id="myFortuneService"
        class="SetterInjection.HappyFortuneService">
    </bean>

    <bean
        id="myCoach"
        class="SetterInjection.TrackCoach"
    >
        <!-- set up constructor injection -->
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean
            id="myCricketCoach"
            class="SetterInjection.CricketCoach" >
        <!-- set up setter injection -->
        <property name="fortuneService" ref="myFortuneService"/>
    </bean>
</beans>